body {
	font-family: 'News Cycle', Helvetica;
	color: yellow;
	background-image: url("../images/star_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
  background-attachment: fixed;
}

@keyframes crawl {
	0% { top: 100%; }
	100% { top: -170%; }
}

#crawl_box
{
	position: absolute;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
}

#content
{
	position: absolute;
	top: 100%;
	animation: crawl 100s linear;
}

#center_episode {
	text-align: center;
	margin-bottom: 0.4em;
}

#center_title {
	font-size: 1.75em;
	text-align: center;
}