body {
  background-image: url("../images/r2d2background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
	color: yellow;
	font-family: 'News Cycle', Helvetica;
	text-align: center;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: lightgray;
}

textarea {
	width: 300px;
	border-style: solid;
	border-radius: 20px;
	text-align: center;
	padding-top: 5px;
	font-family: 'News Cycle', Helvetica;
	font-size: 1.0em;
	outline: 0;
	box-shadow: 5px 5px 3px black;
	resize: none;
}

strong {
	font-weight: bold;
	font-size: 1.5em;
}

.win {
	display: none;
}

.right {
	display: none;
}

.wrong {
	display: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 35%;
	-ms-transform: translateX(-50%) translateY(-35%);
    -webkit-transform: translate(-50%,-35%);
  	transform: translate(-50%,-35%);
}

.quiz {
	font-size: 1.5em;
	text-shadow: 2px 2px 5px black;
}